.home {
  background: url("../../images/background.jpg");
  min-height: 100vh;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lao.p-3.card {
  background: #e9c46a;
}
.searchbar-card {
  background-color: white;
  padding: 30px;
}
